<form action="/submissions" method="post" id="new-submission">
    <div class="input-field">
        <label for="name">NAME </label>
        <input id="name" type="text" name="name" value="">
    </div>
    <div class="input-field">
        <label for="slug">SLUG </label>
        <input id="slug" type="text" name="slug" value="">
    </div>
    <div class="input-field">
        <label for="description">DESCRIPTION </label>
        <input id="description" type="text" name="description" value="">
    </div>
    <input type="submit" value="add">
</form>